# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f6eb5c507f22a22e610451c4542df0bd98ac7b1402e74729e07a5c3b70cefd04b8caff315094ccaa4af83f4872fa8159e4c931ac185e137f58d1bbbba405d7fa

test:
  secret_key_base: 71d25dd870b18b5ee07326d874d518924578924d33def6eefabc562b4c9fc69753bfc0f7107812d9b2e3daa42814b38a0f2e89f7d4f4882876ca3da079d821b6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
